/* app/styles/globals.css */

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #1f2937; /* dark gray */
  color: white;
  padding: 1rem;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 0.5rem 0;
}

.sidebar a:hover {
  text-decoration: underline;
}

.main-content {
  flex: 1;
  padding: 2rem;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.dashboard-cards .dcard {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 25px;
}

.tbl table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.tbl table tr th {
  background-color: #1f2937;
  color: #fff;
}

.tbl table tr th, .tbl table tr td {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.dashboard-cards {
  margin-bottom: 2rem;
}

.expensechart{
  width: 70%;
  height: 500px;
  margin: 0 auto;
}